<div [ngClass]="{'online': online}" class="wrapper">
    <div class="body">
        <div class="picture">
            <img [src]="url" alt="">
            <div *ngIf="online" class="status">Online</div>
            <div *ngIf="!online" class="status">Offline</div>
        </div>
        <div class="user-data">
            <h2>{{name}}</h2>
            <div class="post-text">{{status}}</div>
        </div>
    </div>
    <button class="network" (click)="toggleOnline()">{{online ? 'Offline' : 'Online'}}</button>
</div>